.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background:black;
  }
  
  
  .BtnCategoria{
    text-decoration: none;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 12px;
    background:yellow ;
    border-radius: 8px;
    color:black;
    border: none;
    border-style: none;
    
}

.ActiveBtnCategoria{
  text-decoration: none;
  margin: 0 50px;
  width: auto;
  padding: 12px;
  font-size: 12px;
  background:rgb(177, 0, 0) ;
  border-radius: 8px;
  color:black;
  border: none;
  border-style: none;
  
}

  
