
.itemCart{

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-block: 1%;
    background-color: aliceblue;
    border: 3px solid black;
    
}
p{
    margin: 1%;
}

