.Producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
}

.Card{
    color :black;
    position:unset;
    display: grid;
    margin: 0%;
    padding: 13%;
    border: 2px solid black;
    border-radius: 5%;
}
.ImgCard{
    width: 200px;
}