.btnCategoria{
    text-decoration: none;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 12px;
    background:yellow ;
    border-radius: 8px;
    color:black;
    border: none;
    border-style: none;
    
}
  